body {
    margin: 0; /* Important for `document.body.scrollHeight` to be accurate. */
    padding: 50px;
    font-family: monospace;
    background-color: #fafafa;
}

.story {
    margin-bottom: 10px;
    font-size: 16px;
}

.story .title {
    text-decoration: none;
    color: #f60;
}

.story .metadata {
    margin-top: 2px;
    font-size: 13px;
    color: #777;
}
